[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=mate-panel-launcher
Name[en_US]=Readme
Exec=/usr/bin/google-chrome-stable http://docs.vlabs.stackroute.in/Java_ReadMe.htm
Name=Readme
Icon=mate-panel-launcher
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=mate-panel-launcher
Name[en_US]=Readme
Exec=/usr/bin/google-chrome-stable http://docs.vlabs.stackroute.in/Java_ReadMe.htm
Name=Readme
Icon=mate-panel-launcher
